<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wbq.spike.dao.OrderDao">
    <resultMap id="orderResultMap" type="com.wbq.spike.po.Order">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="sid" property="sid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="all_column">
    id, sid, name, create_time
    </sql>

    <insert id="insert">
        insert into order_info(sid, name)
        values (#{sid},#{name})
    </insert>
</mapper>